@use 'pkg:@fontsource-utils/scss' as fontsource;
@use 'pkg:@fontsource/lumanosimo/scss' as Lumanosimo;
@use 'pkg:@fontsource/material-icons/scss' as MaterialIcons;
@use 'pkg:@fontsource/merriweather-sans/scss' as MerriweatherSans;
@use 'pkg:@fontsource/prompt/scss' as Prompt;

@include fontsource.faces(
  $metadata: Lumanosimo.$metadata,
  $subsets: latin,
  $weights: 400,
  $display: block,
  $formats: woff2
);
@include fontsource.faces(
  $metadata: MaterialIcons.$metadata,
  $weights: 400,
  $display: block,
  $formats: woff2
);
@include fontsource.faces(
  $metadata: MerriweatherSans.$metadata,
  $subsets: latin,
  $weights: (
    400,
    700,
  ),
  $display: block,
  $formats: woff2,
  $styles: normal
);
@include fontsource.faces(
  $metadata: Prompt.$metadata,
  $weights: (
    400,
    700,
  ),
  $display: block,
  $formats: woff2,
  $styles: all
);
